.info {
  padding: 0 1.5rem;
  background-color: $clr-light-gray;
  gap: 1rem;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  & h2,
  & h3 {
    color: $clr-black;
  }

  & h3 {
    margin-bottom: .5rem;
  }

  & p {
    color: $clr-gray-violet;
    font-size: .90rem;
    text-align: center;
  }

  &__list {
    margin: 3rem .5rem;
  }

  &__item {
    padding: 0 1.5rem 2rem 1.5rem;
    text-align: center;
    background-color: $clr-white-container;
    border-radius: .25rem;
    box-shadow: $box-shadow;
  }

  &__img {
    height: 4.75rem;
    width: 4.75rem;
    background-color: $clr-dark-violet;
    border-radius: 50%;
    position: relative;
    top: -2.25rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__divider {
    width: .5rem;
    height: 5.5rem;
    margin: auto;
    background-color: $clr-cyan;
  }
}