.hero {
  background-color: $clr-light-gray;
  margin-top: 7.5rem;

  &__container {
    width: 100%;
    position: relative;
    top: -5.25rem;
  }

  &__shorten {
    padding: 1.25rem;
    border-radius: 1rem;
    background: $clr-dark-violet url('./../../style/svg/bg-shorten-mobile.svg') no-repeat top right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &-btn {
      width: 100%;
      border-radius: .25rem;
    }

    &-input {
      width: 100%;
      padding: .5rem;
      border-radius: .25rem;

      &::placeholder {
        font-size: $font-size;
        color: $clr-gray;
      }
    }
  }
}