@mixin breakpointMax($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

;

@mixin breakpointMin($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

;

// ---| CALL |---

// PRIMERO
@include breakpointMin($mobile) {
  .inactive {
    display: none
  }
}

;

//  SEGUNDO
@include breakpointMin($tablet) {
  .home {
    &__img {
      height: 19rem;
      background-position: 5rem;
    }

    &__copy {
      margin-top: 1rem;
    }
  }

  .modal__container {
    width: 25rem;
  }
}

;

// TERCERO
@include breakpointMin($tablet-big) {
  .home {

    &__img {
      height: 22rem;
      background-position: center;
    }

    &__copy {
      margin: 1rem 5rem;
    }
  }

  .hero {

    &__container {
      padding: 0 2rem;
    }
  }

  .info {

    &__container {
      margin: 2rem 5rem;
    }

    &__list {
      width: 22.5rem;
    }
  }
}

;

// CUARTO
@include breakpointMin($desktop-small) {
  .section {
    flex-direction: row;
  }

  .header {
    margin: 1.5rem 6rem;

    &__menu {
      display: none;
    }

    &__logo {
      margin-right: 1rem;
    }

    &__bar {
      display: initial;
      width: 85%;

      & .headerBar {

        &__container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__info>span,
        &__logIn>span {
          padding-right: 1rem;
          color: $clr-gray;
          cursor: pointer;
          transition: .4s;

          &:hover {
            color: $clr-black;
          }
        }
      }
    }
  }

  .home {
    padding: 0 2rem;
    margin: 3rem 4rem 7rem 4rem;

    &__container {
      width: 55rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__img {
      height: 20rem;
      width: auto;
      order: 1;
    }

    &__copy {
      text-align: start;
      margin: 0;

      & h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: .001rem;
      }
    }
  }

  .hero {

    &__shorten {
      padding: 2rem 2rem;
      background: $clr-dark-violet url('./../svg/bg-shorten-desktop.svg') no-repeat center;
      background-size: cover;
      flex-direction: row;

      &-input {
        width: 70%;
      }

      &-btn {
        width: 30%;
      }
    }

    &__item {
      padding: 1rem 2rem;
      flex-direction: row;
      justify-content: space-between;

      & span:nth-child(1) {
        padding: 0;
        border-bottom: none;
      }

      & span:nth-child(2) {
        padding: 0;
      }
    }
  }

  .info {
    flex-direction: column;

    &__container {

      &>h2 {
        font-size: 2rem;
      }

      &>p {
        width: 50%;
      }
    }


    &__list {
      margin: 5rem 0 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__divider {
      width: .5rem;
      height: 5.5rem;
    }
  }

  .boost {
    background: $clr-dark-violet url('./../svg/bg-boost-desktop.svg') no-repeat center;
    background-size: cover;
    flex-direction: column;
  }

  .footer {
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    &__logo {
      margin: auto;
      grid-column: 1/4;
      align-self: flex-start;
    }

    &__container {
      align-self: flex-start;
      align-items: flex-start;
    }

    &__network {
      align-self: flex-start;
    }

    &__sign {
      grid-column: 1/8;
      justify-self: center;
      align-self: center;
    }
  }
}

;

// QUINTO
@include breakpointMin($desktop) {
  .hero {

    &__container {
      width: 55rem;
    }
  }

  .info {

    &__container {
      width: 55rem;
    }

    &__list {
      width: inherit;
      height: 20rem;
      flex-direction: row;
    }

    &__item {

      &:nth-child(1) {
        align-self: flex-start;
      }

      &:nth-child(5) {
        align-self: flex-end;
      }
    }

    &__divider {
      width: 5rem;
      height: .5rem;
    }
  }
}

;