// Colors
  // Primary
  $clr-cyan: hsl(180, 66%, 49%);
  $clr-dark-violet: hsl(257, 27%, 26%);
  // Secondary
  $clr-red: hsl(0, 87%, 67%);
  // Neutral
  $clr-gray: hsl(0, 0%, 75%);
  $clr-gray-violet: hsl(257, 7%, 63%);
  $clr-dark-blue: hsl(255, 11%, 22%);
  $clr-very-dark-violet: hsl(260, 8%, 14%);
  $clr-white: #efefef;
  // Juan Varón
  $clr-JV: #ff7038;

// Typography
  // Body Copy
  $font-size: 18px;
  $font-size-btn: 19px;
  // Fonts
  $font-family: 'Poppins', sans-serif;
  $font-weight-bold: 700;
  $font-weight-medium: 500;
  $font-weight-light: 300;
  $font-weight-thin: 100;

// Breakpoint
  // Mobile 375px / 18px = 20.83em;
  $mobile: 20.83em;
  // Desktop 1440px / 18px = 80em;
  $desktop: 80em;