// Colors
  // Primary
  $clr-cyan: hsl(180, 66%, 49%);
  $clr-dark-violet: hsl(257, 27%, 26%);
  // Secondary
  $clr-red: hsl(0, 87%, 67%);
  // Neutral
  $clr-light-gray: hsl(0, 0%, 93%);
  $clr-gray: hsl(0, 0%, 75%);
  $clr-gray-violet: hsl(257, 7%, 63%);
  $clr-dark-blue: hsl(255, 11%, 22%);
  $clr-very-dark-violet: hsl(260, 8%, 14%);
  $clr-white: #efefef;
  $clr-white-container: #fefefe;
  $clr-black: #262626;
  // Juan Varón
  $clr-JV: #ff7038;

// Box shadow
  $box-shadow: 0 0 8px 0.5px $clr-gray;

// Typography
  // Body Copy
  $font-size: 16px;
  $font-size-btn: 17px;
  // Fonts
  $font-family: 'Poppins', sans-serif;
  $font-weight-bold: 700;
  $font-weight-medium: 500;
  $font-weight-light: 300;
  $font-weight-thin: 100;

// Breakpoint
  // Mobile 360px / 16px = 22.5em;
  $mobile: 22.5em;
  // Tablet 490px / 16px = 30.625em;
  $tablet: 30.625em;
  // Big Tablet 630px / 16px = 39.375em;
  $tablet-big: 39.375em;
  // Small Desktop 902px / 16px = 56.375em;
  $desktop-small: 56.375em;
  // Desktop 1080px / 16px = 67.5em;
  $desktop: 67.5em;