.home {
  margin: 1.75rem 0;

  &__img {
    height: 18rem;
    background: url('./../../style/svg/illustration-working.svg') no-repeat 2rem;
    background-size: contain;
    width: 100vw;
  }

  &__copy {
    text-align: center;
    margin: .5rem 1.5rem;

    & h1 {
      font-size: 2rem;
      margin: .5rem 0;
      color: $clr-black;
    }
  
    & p {
      font-size: .95rem;
      color: $clr-gray-violet;
      margin: .25rem 0 1rem 0;
    }
  }
}