.header {
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    fill: $clr-black;
  }

  &__bar {
    display: none;
  }

  &__menu {
    z-index: 1000;
    font-size: 1.75rem;
    cursor: pointer;
    color: $clr-gray;
  }
}