.footer {
  padding: 1rem 1.5rem;
  background-color: $clr-very-dark-violet;
  color: $clr-white;
  gap: 1rem;

  &__logo {
    fill: $clr-white;
    margin: 2rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &>h4,
    &>span {
      font-size: .75rem;
      padding: .25rem;
    }

    &>h4 {
      margin-bottom: .5rem;
      font-weight: $font-weight-bold;
    }

    &>span {
      cursor: pointer;
      font-weight: $font-weight-light;
      transition: .4s;

      &:hover {
        color: $clr-cyan;
      }
    }
  }

  &__networks {
    width: 9rem;
    margin: 1.5rem 0;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &>a {
      color: $clr-white;
      transition: .4s;

      &:hover {
        color: $clr-cyan;
      }
    }
  }

  &__sign {
    margin: 1.5rem 0;
    font-size: .75rem;

    &-link {
      transform: .4s;
      &:hover {
        color: $clr-JV;
      }
    }
  }
}