.boost {
  padding: 4.5rem 1.5rem;
  color: $clr-white;
  background: $clr-dark-violet url('./../../style/svg/bg-boost-mobile.svg') no-repeat center;
  background-size: cover;
  gap: 1rem;

  &__title {
    text-align: center;
  }
}